[submodule ".registry"]
	path = .registry
	url = https://github.com/marohrdanz/marohrdanz.r-universe.dev
	branch = HEAD
[submodule "NGCHMDemoData"]
	path = NGCHMDemoData
	url = https://github.com/marohrdanz/NGCHMDemoData
[submodule "NGCHMSupportFiles"]
	path = NGCHMSupportFiles
	url = https://github.com/marohrdanz/NGCHMSupportFiles
