[submodule ".registry"]
	path = .registry
	url = https://github.com/marohrdanz/marohrdanz.r-universe.dev
	branch = HEAD
[submodule "NGCHMDemoData"]
	path = NGCHMDemoData
	url = https://github.com/MD-Anderson-Bioinformatics/NGCHMDemoData
[submodule "NGCHMSupportFiles"]
	path = NGCHMSupportFiles
	url = https://github.com/MD-Anderson-Bioinformatics/NGCHMSupportFiles
[submodule "tsvio"]
	path = tsvio
	url = https://github.com/MD-Anderson-Bioinformatics/tsvio
